
CMakeFiles
main
.ccls-cache
Debug
build
cmake_install.cmake
alsaaudio/Makefile
notification/Makefile
notification/libalsaaudio.a
alsaaudio/libalsaaudio.a
CMakeCache.txt
compile_commands.json
socket/Makefile
socket/libsocket.a
Makefile